/* Set background color */
body {
    background-color: #f2fbff;
    /* background-color: pink; */
}

/* Set navbar height */
.navbar {
    height: 80px;
    
}

.navbar-brand {
    margin-right: 550px;
}


/* Change font on filter buttons */
.filter_by{
    font-family: Arial, Helvetica, sans-serif;
}

/* Change the size of the logos */
.logo {
    height: 80px;
    width: 150px;
    /* margin-right: 200px; */
}

.dropdown-content:active{
    background-color: white;
}

a:not([href]):not([tabindex]) {
    margin-left: 670px;
}

/* Change size of the dropdown buttons */
.btn-secondary{
    width: 100px;
    margin: 5px 10px 5px 10px;
    justify-content: right;
    background-color: #44b7ff;
    border-color: #44b7ff;
    color: white;
}


/* Change color over hover on primary button */
.btn-primary:hover{
    background-color: white;
    color: black;
}

/* Shift header down */
h2{
    margin-top: 15px;
}


/* MEDIA CHANGES */
/* Change the size of the navbar on changing the size of the screen */
@media(min-width: 1900px){
    .navbar-brand {
        margin-right: 1200px;
    }

}