/* Set background color */
body {
    background-color: #f2fbff;
    /* background-color: pink; */
}

/* Set navbar height */
.navbar {
    height: 80px;
    
}

.navbar-brand {
    margin-right: 125px;
}


/* Change font on filter buttons */
.filter_by{
    font-family: Arial, Helvetica, sans-serif;
}

/* Change the size of the logos */
.logo {
    height: 80px;
    width: 150px;
    /* margin-right: 200px; */
}


/* a:not([href]):not([tabindex]) {
    margin-left: 670px;
} */

/* Change size of the dropdown buttons */
.btn-secondary{
    width: 100px;
    margin: 5px 10px 5px 10px;
    justify-content: right;
    background-color: #44b7ff;
    border-color: #44b7ff;
    color: white;
}


/* Change color over hover on primary button */
.btn-primary:hover{
    background-color: white;
    color: black;
}

/* Shift header down */
h2{
    margin-top: 15px;
}

<<<<<<< HEAD
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: black;
    text-align: center;
  }

.footer_desc{
    color: white;
}

.footer_desc:hover{
    color: white;
}
=======
<<<<<<< HEAD
.container-fluid {
    padding-top: 10px;
}
=======
>>>>>>> 7ceeec23f71889bb8fe7e1e0efaac5df96943259
>>>>>>> 6faf83efee4587c177fdae2572f11aa7c82ee96c

/* MEDIA CHANGES */
/* Change the size of the navbar on changing the size of the screen */
@media(min-width: 1900px){
    .navbar-brand {
        margin-right: 1200px;
    }

}