#map-id {
    
    height: 500px;
    width: 50%;
}

h3 {
    text-align: center;
}
#top-header {
    margin: 10px;
    
}

.legend {
    background-color: aliceblue;
    line-height: 18px;
    color: rgb(27, 26, 26);
    width: 70px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

body {
    text-align: center;
}

.navbarNav {
    justify-content: center;
    text-align: center;
}

#filters {
    padding: 10px;
    padding-bottom: 10px;
}


background {
    color: red;
  }