<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Resorts</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="static/style.css"> -->
</head>




<body>
    <!-- Main container -->
    <div class="container-fluid">
        <!-- Center text -->
        <div class="jumbotron text-center">
            <h1>Resorts</h1>
            <!-- Add button for linking data -->
            <p><a class="btn btn-primary btn-md" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Resorts</h2>
            </div>
        </div>
        <div class="row">
          <h3>Name: {{ resorts[0].name }}</h3>
        </div>
        <br>
        <br>
    <!-- End of container div -->
    </div>
</body>
</html>
